* {
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.main {
    display: flex;
    height: 100vh;   
    width: 100vw;    
    overflow: hidden; 
    background-color: #212121;
    color: white;
}